<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.tec.proyecto2.fragment1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment1.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Step In"
            id="stepIn.commands.category">
      </category>
      <category
          name="Step Over"
          id="stepOver.commandas.category">
      </category>
      <category
          name="Debug"
          id="debug.commands.category">
      </category>
      <command
            name="Step In"
            categoryId="stepIn.commands.category"
            id="stepIn.commands.sampleCommand">
             </command>
      <command
          name="Step Over"
          categoryId="stepOver.commands.category"
          id="stepOver.commands.sampleCommand">
      </command>
      <command
      		name="Debug"
      		categoryId="debug.commands.category"
      		id="debug.commands.sampleCommand">
      </command> 
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="stepIn.commands.sampleCommand"
            class="org.tec.proyecto2.flowchart.handlers.StepInHandler">
      </handler>
      <handler
          commandId="stepOver.commands.sampleCommand"
          class="org.tec.proyecto2.flowchart.handlers.StepOverHandler">
      </handler>
      <handler
          commandId="debug.commands.sampleCommand"
          class="org.tec.proyecto2.flowchart.handlers.DebugHandler">
      </handler>
   </extension>
   <extension
    	 point="org.eclipse.ui.menus">
	      <menuContribution
	            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
	         <toolbar
	               id="stepIn.toolbars.sampleToolbar">
	            <command
	                  commandId="debug.commands.sampleCommand"
	                  icon="icons/debug.png"
	                  tooltip="Generate flow chart"
	                  id="debug.toolbars.sampleCommand">
	            </command>
	            <command
	                  commandId="stepIn.commands.sampleCommand"
	                  icon="icons/stepIn.png"
	                  tooltip="Step In"
	                  id="stepIn.toolbars.sampleCommand">
	            </command>
	            <command
	                  commandId="stepOver.commands.sampleCommand"
	                  icon="icons/stepOver.png"
	                  tooltip="Step Over"
	                  id="stepOver.toolbars.sampleCommand">
	            </command>
	         </toolbar>
	      </menuContribution>
   </extension>
</plugin>
 