<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.tec.proyecto2.fragment1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment1.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.jdt.debug.jdiclient">
   </extension>
   <extension
         point="org.eclipse.jdt.debug.javaLogicalStructures">
   </extension>

</plugin>
